<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="5px;" >
    <thead>
    <tr>
        <th> Title </th>
        <th> Amount </th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="book : ${books}">
        <td><span th:text="${book.name}"> </span></td>
        <td><span th:text="${book.amount}"> </span></td>

    </tr>
    </tbody>
</table>

<table border="5px;" >
    <thead>
    <tr>
        <th> Title </th>
        <th> Receiver </th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="userBook : ${userBooks}">
        <td><span th:text="${userBook.bookname}"> </span></td>
        <td><span th:text="${userBook.username}"> </span></td>

    </tr>
    </tbody>
</table>



</body>
</html>